<!-- Countries Portfolio Grid Section -->
<section id="portfolio" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Let’s zoom in !</h2>
                <h3 class="section-subheading text-muted">What words are associated to each WikiCountry ?</h3>
            </div>
        </div>

        <div class="row text-justify">
            We now have our WikiCountries, but so far they seem quite impersonal don’t you think ? Let's dive a 
            little deeper into these countries and see what defines their identity within the WikiWorld. In other 
            words, how can we describe the WikiCountries ?<br>
            To do so, one can derive a semantic distance 
            (introduced <a href="http://infolab.stanford.edu/~west1/pubs/West-Pineau-Precup_IJCAI-09.pdf">here</a>) 
            that would represent how close two concepts are in terms of meaning. So let's see to which words users 
            think when they look for the most central countries in the game.<br>
            Click on the flags of the countries to have a look at the associated concepts ! The larger the words, 
            the more related they are to the corresponding country. Play around the Wikipedia articles to find a 
            relation between the words and their country !
        </div>

        <br><br>
        
        <div class="row">
        {% for post in site.categories.countries %}
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/{{ post.thumbnail }}" class="img-responsive img-centered" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>{{ post.title }}</h4>
                    <p class="text-muted">{{ post.subtitle }}</p>
                </div>
            </div>
        {% endfor %}
        </div>

        <br><br> 
        <div class="row text-justify">
            If you have looked carefully at the words associated with the different countries you may have made 
            some observations. If almost all the words associated with the countries can be rationally explained, 
            do you really think that they transcribe the vision you have of these countries? For most of them, you 
            probably would not have picked the same words. In fact, maybe you did not even know why some words were 
            associated with some countries. So does Wikipedia really capture the identity of the countries? Or do 
            you simply have a false perception of countries?
        </div>


    </div>
</section>
