<!-- Countries Section -->
    <section id="countries" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Countries</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row text-justify">
                Blablabla<br>
                Test 1 sans fond
            </div>

            <div class="col-md-12 residuals">
                <img src="img/countries/pays_en_rond.png" width="580" 
                height="600" class="img-responsive img-centered" alt="">
            </div>

            
            
        </div>
    </section>