<!-- Introduction -->
<section class="page-section" id="introduction">
  <div class="container">

    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase mb-3 tb-3">Introduction</h2>

        <div class="section-subheading text-justify lead">

          I am sure you have already heard of Wikipedia, right ? Every high-school student has already used it 
          in order to cook up the best presentation for his History class !  With more than 6 million English 
          articles, Wikipedia can be seen as the world's largest and most-read reference work in history. It is 
          easy to get lost in this mass of information. However, the platform proposes a quick and easy way to 
          navigate between this mass of information through the usage of hyperlinks (the blue links) connecting 
          different articles. These blue links are super useful to go from Christopher Columbus’ Wikipedia page, 
          to the one of the Americas, but not only ! Indeed, these hyperlinks can give a real insight into the 
          cultural connections that exist between diverse concepts, such as historical figures and geographical 
          locations. A game, Wikispeedia provides even more information in that direction !
          <br><br>
          
          <h4 class="section-heading mt-3 mb-3 tb-3">Wikispeedia who?</h4>
          <div>
            <a href="https://dlab.epfl.ch/wikispeedia/play/">Wikispeedia</a>Click the link if you want to play a 
            game ! 
            <br>
            The Wikispeedia dataset provides even more information in that direction, by providing link paths made 
            by players attempting to join two different concepts. These connection paths between articles thus 
            exhibiting connections in the player’s imagination of these concepts. This connectivity graph allows us
            to construct a representation of Wikispeedia users reality, described through the centrality of countries,
            peoples and historical events. Our project aims at observing this vision of the world, and questioning the
            existing differences with our real world.
          </div><br>

          <div>
            {% include CC_age_gender.html %}
          </div>

          <h4 class="section-heading mt-3 mb-3 tb-3">How does it work ?</h4>
          <div>
            blablblaaaaaa
          </div><br>

          <br><br>
          
          <div class="col-lg-12 text-center">
            <h3 class="section-subheading text-muted">Ready to build the Wikiworld?</h3>
        </div>

        </div>
      </div>
    </div>
  </div>

</section>
<!-- End Introduction -->