<!-- People Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading" id="people">People</h2>
                    <h3 class="section-subheading text-muted">Who are the 100 most important people according to Wiki users ?
                    </h3>
                </div>
            </div>

            <div class="row text-justify">
                Now that the countries of WikiWorld are established, who will be living in this world ? It is time 
                to populate the WikiWorld ! Here, we selected the 100 most important people according to Wiki users as a 
                sampling representation of the proud inhabitants of the WikiWorld.
                <br><br>
                What are their occupations, ages, genders ? We collected information on these 100 people in order 
                to give you an overview of the population of the WikiWorld. You can also take a sneak peak into the 
                three most famous WikiPeople according to Wiki users !
            </div>

            <br><br>

            <div class="row">
            {% for post in site.categories.people %}
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/{{ post.thumbnail }}" class="img-responsive img-centered" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{ post.title }}</h4>
                        <p class="text-muted">{{ post.subtitle }}</p>
                    </div>
                </div>
            {% endfor %}
            </div>
            <br><br>
            <div class="row text-justify">
                Let’s take a step back from Wikiworld and have a critical look at the results we just obtained. If 
                the geopolitical organization of the Wikiworld seems to transcribe the true geopolitical 
                organization of our real world, it is far from being the case for its inhabitants. There is a clear 
                lack of parity and diversity in general. If one compares with the 
                <a href="https://en.wikipedia.org/wiki/World_population">World population</a>, one for example 
                observes that the most represented countries and continents in terms of inhabitants in WikiWorld 
                (i.e. Europa, the United States and United Kingdom) are far from being the most populated ones in 
                the real world. On the other hand, China or India, the two largest countries in terms of 
                population, are not represented. Similar comments can be made on the other characteristics we 
                observed: in our real world, parity is achieved, the population is rather young, English is not 
                the native language of the majority, and the occupations are more diverse. All these observations 
                lead to the same conclusion: the 100 most famous people on Wikipedia, who were taken as 
                representatives of our WikiWorld, are far from being a reliable representation of the world 
                population. 
                <br><br>
                If such an observation could have been inferred, as the nationality and language of the most 
                famous people are for instance highly biased by the fact that we are working on the english version 
                of Wikipedia, this lack of diversity is still questionable. What does it say about our current 
                society? Why are the most famous people not in the image of the true population of the world? Maybe 
                this is why they are famous, because they are out of the norm… Or maybe there exists some kind of 
                bias too. Either way, this raises the question of the influence that can have this lack of diversity 
                in the most famous people on the population that sees them as role models. This debate is outside 
                the scope of this datastory, but underlines the importance of such results and data.

            </div>



        </div>
    </section>
